In [32]:
import pandas as pd 
#importing pandas and as means alias insted of pandas will use pd

In [31]:
df=pd.read_csv('/content/employee_data.csv')

In [39]:
df.describe()

           number  annual_salary  tax_file_no
count  1000.00000     999.000000          0.0
mean    499.50200  102017.196196          NaN
std     285.86318   27567.849832          NaN
min       1.00000   55003.000000          NaN
25%     250.50000   77720.000000          NaN
50%     492.00000  101133.000000          NaN
75%     750.25000  125829.000000          NaN
max     999.00000  149999.000000          NaN

In [45]:
df['annual_salary']

0       64598.0
1      124103.0
2      100324.0
3      144957.0
4      137659.0
         ...
995     66592.0
996    127966.0
997     60712.0
998    103606.0
999    127405.0
Name: annual_salary, Length: 1000, dtype: float64

In [44]:
df['annual_salary'].min()

55003.0

In [46]:
df['annual_salary'].max()

149999.0

In [47]:
df['annual_salary'].mean()

102017.1961961962

In [48]:
df['annual_salary'].var()

759986344.368282

In [49]:
df['annual_salary'].std()

27567.849832155607

In [50]:
df['annual_salary'].sem()

872.2081697964894

In [51]:
df['annual_salary'].skew()

0.018442824232806004

In [52]:
df['annual_salary'].kurt()

-1.2180871251858905